
    *{
  font-family: 'Montserrat', sans-serif;
}

.welcome h2{
    margin: 10px;
    padding: 5px;
    text-align: center;
      background-color:linen;
    border-radius: 10px;
  }
  
  .welcome h2:hover{
    transform: scale(1.01);
    background-color: blanchedalmond;
  }
    
  .bg{
     background-image: url("https://media.istockphoto.com/photos/person-holds-a-smartphone-with-mobile-banking-icons-projection-picture-id1304484797?b=1&k=20&m=1304484797&s=170667a&w=0&h=Z8RFNCQoyUz1lXq9eZK55DuwA8TPRcPcIAJDR7HDjpk= ");
     background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 95%;
  height: 100vh;
  }
  
