@media screen and (max-width: 730px) {
  .login__box {    
    height: 580px;
    display: flex;
    flex-direction: column-reverse;  
  }

  .login__box .login__form {
    width: 100%;
    height: 70%;
  }

  .login__box .placeholder__img {
    width: 100%;
    height: 30%;

    border-radius: 8px 8px 0 0;
  }

  .login__box  .footer  {
    margin-top: 30px;
  }
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800&display=swap');
/*google fonts*/

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.5;

  height: 100vh;
  background: #7b9e87;
  color: #212121;

  position: relative;
}

h3 {line-height: 1.1;}

/*ends base*/

input {
  outline: none;
  border: none;
}

a {
  display: inline-block;
  text-decoration: none;
  color: #0370EA;
}

/*ends basic*/

.login__box {
  width: 700px;
  max-width: 75%;
  height: 500px;
  margin-top: 50px;
  padding-bottom: 30px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 0 5px #528262, 0 0 15px #7fa98d;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;  

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.login__box .login__form {
  width: 60%;
  padding: 5%;
}

.login__box .top {
  margin-bottom: 45px;
}

.login__box  .top h3 {
  font-size: 1.5em;
  margin-bottom: 15px;
  color: #ccc;
}

.login__box  .top h3 span {
  text-transform: uppercase;
  font-weight: 800;
  color: #212121;
}

.login__box  .top p {
  font-size: .95em;
  color: #333;
}

.login__box  form i {
  width: 10%;
  font-size: 1.2em;
  color: #ccc;
}

.login__box  form .mail input,
.login__box  form .pass input {
  width: 88%;
  max-width: 100%;
  padding: 10px 5px;
  color: #111;
  border-bottom: 1px solid #212121;
}

.login__box  form .mail input {
  margin-bottom: 15px;
}

.login__box  form .action {
  text-align: left;
  margin-top: 25px;
}

.login__box  form input[type="submit"] {
  padding: 15px 40px;
  border-radius: 5px;
  cursor: pointer;
  background-color: #90CBF5;
  color: #fff;
  font-weight: bold;
  transition: .3s background;
}

.login__box  form input[type="submit"]:hover {
  background-color: #0370EA;
}

.login__box  .footer  {
  margin-top: 45px;
}

.login__box  .footer a:hover  {
  text-decoration: underline;
}

/*ends form style*/

.login__box .placeholder__img {
  width: 40%;
  height: 100%;
  margin-top: 2%;
  margin-bottom: 14%;
  padding-bottom: 20%;

  background-color: #55a262;
  background-image: url("https://www.clydeco.com/getattachment/82ab2cd4-53ae-445d-b12b-85ec60b2bf84/bank-of-tanzania-time-extension-for-registration-and-licensing-of-microfinance-service-providers-mobile?variant=introbannermobilevariant");
  background-repeat: no-repeat;
  background-position: center right;
  background-size: cover;

  border-radius: 0 8px 8px 0;
}

</style>